@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
:root{
    --DarkBlue: hsl(240, 38%, 20%);
    --GrayishBlue: hsl(240, 18%, 77%);
}
*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}
html{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-variation-settings:"slnt" 0;
    font-size: 32px;
}
body{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-variation-settings:"slnt" 0;
    font-size: 32px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;

    min-height: 100vh;
    background-image: url(./images/pattern-curve.svg);
    background-position: left bottom;
    background-size: 80% auto;
    background-repeat: no-repeat;
}
main{
    width: 100%;
    margin: auto;
}
h1{
    display: none;
}
ul{
    overflow: hidden;
    display: flex;
    list-style: none;
    width: 100%;
    background-image: url(./images/pattern-bg.svg), url(./images/pattern-quotes.svg);
    background-repeat: no-repeat;
    background-size: 10.3rem, 2rem;
    background-position: top, center 11.4rem;
    padding: 1rem 0 0 0;
}
li{
    width: 100%;
    height: 100%;
    flex: 1 0 100%;
    transition: margin-left .5s ease-in-out, opacity .5s ease-in-out;
}
li:nth-child(2){
    opacity: 0;
}
li img{
    width: 8rem;
    border-radius: 0.2rem;
    box-shadow: 0 0.5rem 1rem -0.5rem var(--GrayishBlue);
}
button{
    padding: .4rem .5rem;
    background-color: transparent;
}
p{
    color: var(--DarkBlue);
    line-height: 0.8rem;
}
p > span{
    font-weight: 500;
    color: var(--GrayishBlue);
}
.moveLeft{
    margin-left: -100%;
    opacity: 0;
}
.moveLeft ~ li{
    opacity: 1;
}
.slider{
    position: relative;
    padding: 0 0.7rem;
}
.btns{
    position: absolute;
    top: 8.4rem;
    left: 50%;
    display: flex;
    transform: translateX(-50%);
    background-color: white;
    border-radius: 1rem;
    box-shadow: 0 0.5rem 1rem -0.2rem var(--GrayishBlue);
}
.btns img{
    width: 0.3rem;
}
.prev{
    border-radius: 1rem 0 0 1rem;
}
.next{
    border-radius: 0 1rem 1rem 0;
}
.description{
    font-size: .6rem;
    margin-top: 3rem;
}
.name{
    margin: auto;
    margin-top: .5rem;
    font-weight: 700;
    font-size: 0.5rem;
    display: flex;
    flex-direction: column;
}
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }
@media (width >= 1024px) {
    main{
        width: 1000px;
    }
    body{
        background-size: 40% auto;
    }
    ul{
        background-size: 60%, 3rem;
        background-position: top right, 2.5rem 4rem;
        padding: 1.5rem 0 2rem 0;
    }
    li{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    li picture{
        margin-left: -3.5rem;
    }
    li img {
        width: 14rem;
    }
    p{
        text-align: left;
        line-height: 1rem;
    }
    button{
        cursor: pointer;
        transition: background-color .25s ease-in-out;
    }
    button:hover{
        background-color: var(--GrayishBlue);
    }
    .content{
        width: 110%;
        grid-column: 1 / 2;
        grid-row: 1 / 2;
    }
    .description {
        font-size: 0.8rem;
        margin-top: 4rem;
        line-height: 1.2rem;
    }
    .name{
        flex-direction: row;
        column-gap: 0.3rem;
    }
    .btns{
        top: 84%;
        left: 56%;
    }
}