@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');
:root{
    /* ### Primary */
    --LinearGradient: hsl(249, 99%, 64%) to hsl(278, 94%, 30%); /*active input border*/
    --Red: hsl(0, 100%, 66%); /*input errors*/
    
    /* ### Neutral */
    --White: hsl(0, 0%, 100%);
    --LightGrayishViolet: hsl(270, 3%, 87%);
    --DarkGrayishViolet: hsl(279, 6%, 55%);
    --VeryDarkViolet: hsl(278, 68%, 11%);
}
*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: "Space Grotesk", sans-serif;
}
body{
    font-family: "Space Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
main{
    margin: 0 0 auto 0;
}
.portada, .content{
    position: relative;
}
.bgPortada{
    width: 100%;
}
.backCard{
    top: 15%;
    right: 5%;
    width: 75%;
    position: absolute;
}
.bgCard{
    width: 100%;
}
.backCard > .content > .cvc{
    top: 44%;
    right: 12%;
    font-size: 0.7rem;
    color: var(--White);
    position: absolute;
}
.frontCard{
    position: absolute;
    top: 50%;
    right: 20%;
    width: 75%;
}
.frontCard > .content > picture > img:nth-child(2){
    top: 8%;
    left: 5%;
    width: 15%;
    position: absolute;
}
.dataCard{
    left: 0;
    bottom: 15%;
    width: 100%;
    position: absolute;
    color: var(--White);
}
.dataCard > p{
    font-size: 1rem;
    text-align: center;
    margin-bottom: 1rem;
    letter-spacing: 0.2rem;
}
.info{
    font-size: 0.5rem;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 1.5rem;
    letter-spacing: 0.1rem;
}
.contentDataCard{
    margin: 5rem 2rem 2rem 2rem;
}
form{
    gap: 1.5rem;
    display: grid;
    max-width: 510px;
    position: relative;
}
input{
    font-size: 1.2rem;
    font-weight: bold;
    padding: 0.8rem 1rem;
    border-radius: 0.5rem;
    border: solid .1rem var(--LightGrayishViolet);
    outline: none;
    cursor: pointer;
}
input::placeholder{
    color: var(--LightGrayishViolet);
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
}
input[type=number]{
    -moz-appearance:textfield;
}
input:focus{
    border-color: var(--VeryDarkViolet);
}
label{
    font-size: .8rem;
    letter-spacing: .1rem;
    text-transform: uppercase;
    color: var(--VeryDarkViolet);
}
.expDataCard{
    gap: 0.5rem;
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: auto auto auto;
}
.exData{
    grid-row: 1 / 2;
    grid-column: 1 / 3;
}
.infoCVC{
    grid-row: 1 / 2;
    grid-column: 3 / 4;
}
.MM, .YY{
    width: 4.5rem;
}
.MM{
    grid-row: 2 / 3;
    grid-column: 1 / 2;
}
.YY{
    grid-row: 2 / 3;
    grid-column: 2 / 3;
}
.dataCVC{
    width: 100%;
    grid-row: 2 / 3;
    grid-column: 3 / 4;
}
.name, .numberCard{
    display: grid;
    gap: .5rem;
}
button[type="submit"], button{
    padding: 1rem;
    font-size: 1.2rem;
    color: var(--White);
    border-radius: .5rem;
    background-color: var(--VeryDarkViolet);
    cursor: pointer;
}
.inputMM,
.inputYY{
    display: flex;
    flex-direction: column;
}
.error{
    color: var(--Red);
    opacity: 0%;
    transition: opacity .25s ease-in-out;
}
div.failure > input{
    border-color: var(--Red);
}
div.failure > .error{
    opacity: 100%;
}
.completed{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: white;
    display: grid;
    text-align: center;
    align-items: center;
    grid-template-rows: auto auto auto auto;
    grid-template-columns: 1fr;
    display: none;
}
.completed.show{
    display: grid;
}
.completed > img{
    width: 5rem;
    margin: auto auto 1rem auto;
}
.completed > .thank{
    text-transform: uppercase;
    font-size: 1.5rem;
    letter-spacing: 0.3rem;
    color: var(--VeryDarkViolet);
}
.completed > .details{
    color: var(--DarkGrayishViolet);
    font-size: 1.2rem;
}
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }
@media (width >= 768px) {
    .contentDataCard {
        margin: 10rem 2rem 2rem 2rem;
    }
}
@media (width >= 1024px) {
    body{
        display: block;
    }
    main{
        display: grid;
        min-height: 100vh;
        grid-template-rows: 1fr;
        grid-template-columns: .5fr 1fr;
    }
    .portada,
    .portada > picture > img{
        height: 100%;
        width: 100%;
        max-height: 100%;
    }
    .contentDataCard{
        margin: auto auto auto 30%;
    }
    .backCard{
        top: 53%;
        right: auto;
        left: 30%;
        width: 25rem;
    }
    .frontCard{
        top: 24%;
        right: auto;
        left: 20%;
        width: 25rem;
    }
    footer{
        left: 50%;
        bottom: 0;
        position: absolute;
        transform: translateX(-50%);
    }
    .MM, .YY{
        width: 7rem;
    }
}
@media (width >= 1440px) {
    main{
        grid-template-columns: auto 1fr;
    }
    .backCard{
        left: 60%;
    }
    .frontCard{
        left: 40%;
    }
}