@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;700&display=swap');
:root{
    --Orange: hsl(25, 97%, 53%);
    --White: hsl(0, 0%, 100%);
    --LightGrey: hsl(217, 12%, 63%);
    --MediumGrey: hsl(216, 12%, 54%);
    --DarkBlue: hsl(213, 19%, 18%);
    --VeryDarkBlue: hsl(216, 12%, 8%);    
}
*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Overpass', sans-serif;
    background-color: var(--VeryDarkBlue);
    color: var(--White);
    font-size: 15px;
    min-height: 100vh;
    display: grid;
    place-items: center;
}
main > div.star > form > fieldset,
main > div.thank{
    max-width: 22rem;
    display: grid;
    gap: 1.5rem;
    margin: 1.5rem;
    padding: 1.5rem;
    border-radius: 1rem;
    background-color: hsl(215deg 22% 15%);
}
main > div.thank{
    justify-items: center;
}
main > div > form > fieldset > img{
    background-color: var(--DarkBlue);
    padding: 0.7rem;
    border-radius: 50%;
}
main > div.thank > img{
    background-color: transparent;
    border-radius: initial;
    padding: initial;
}
main > div.thank > h1{
    font-size: 1.5rem;
}
main > div.thank > span{
    background-color: var(--DarkBlue);
    padding: 0.5rem;
    border-radius: 2rem;
    color: var(--Orange);
}
main > div > form > fieldset > p{
    font-size: 0.85rem;
    line-height: 1.3rem;
    color: var(--MediumGrey);
}
main > div.thank > p{
    text-align: center;
}
.rating-scale{
    display: flex;
    justify-content: space-between;
}
.radio-container{
    position: relative;
    width: 3rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
input[type="radio"]{
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
    z-index: 2;
}
input[type="radio"]:hover~:where(.custom-radio){
    background-color: var(--Orange);
}
input[type="radio"]:hover~:where(label){
    color: var(--white);
}
input[type="radio"]:checked~:where(.custom-radio) {
    background-color: var(--LightGrey);
}
input[type="radio"]:checked~:where(label) {
    color: var(--white);
}
.custom-radio{
    position: absolute;
    background-color: var(--DarkBlue);
    border-radius: 50%;
    width: 100%;
    height: 100%;
    transition: background-color ease-in-out 0.25s;
}
.radio-container > label{
    position: absolute;
    font-weight: 700;
    color: var(--MediumGrey);
    transition: color ease-in-out 0.25s;
    z-index: 1;
}
main > div > form > fieldset > button{
    color: var(--White);
    background-color: var(--Orange);
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    font-weight: 700;
    padding: 1rem;
    border-radius: 2rem;
    transition: background-color ease-in-out 0.25s, color ease-in-out 0.25s;
    cursor: pointer;
}
main > div > form > fieldset > button:hover{
    background-color: var(--White);
    color: var(--Orange);
}

main > div.hidden{
    display: none;
}
footer{
    position: absolute;
    bottom: 0;
}
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }