@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
:root{
    /* ### Primary */
    --Lime: hsl(61, 70%, 52%);
    --Red: hsl(4, 69%, 50%);

    /* ### Neutral */
    --White: hsl(0, 0%, 100%);
    --Slate100: hsl(202, 86%, 94%);
    --Slate300: hsl(203, 41%, 72%);
    --Slate500: hsl(200, 26%, 54%);
    --Slate700: hsl(200, 24%, 40%);
    --Slate900: hsl(202, 55%, 16%);
}
*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}
html{
    font-size: 16px;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}
body{
    min-height: 100vh;
}
h1{
    font-size: 1.5rem;
    color:var(--Slate900);
    margin-bottom: .25rem;
}
h2{
    margin-bottom: 1rem;
}
button{
    background-color: transparent;
}
label{
    font-size: 1rem;
}
input{
    font-size: 1.1rem;
    padding: 0.5rem;
}
input[type="number"]{
    font-family: "Plus Jakarta Sans", sans-serif;
    font-weight: 700;
    color: var(--Slate900);
}
input[type="radio"]{
    appearance: none;
    border-radius: 50%;
    outline-offset: 0.2rem;
    outline: solid 0.1rem var(--Slate500);
    padding: 0.3rem;
}
input[type="radio"]:checked{
    background-color: var(--Lime);
    outline: solid 0.1rem var(--Lime);
}
input[type="number"]{
    outline: none;
}
input[type="number"]:focus ~ span.years,
input[type="number"]:focus ~ span.percentage,
span.coin:has(~ input[type="number"]:focus){
    background-color: var(--Lime);
}
input[type="number"].error ~ span.years,
input[type="number"].error ~ span.percentage,
span.coin:has(~ input[type="number"].error){
    background-color: var(--Red);
    color: var(--White);
}
.input:has(input[type="number"]:focus){
    border-color: var(--Lime);
}
.input:has(input[type="number"].error){
    border-color: var(--Red);
}
form{
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}
button[type="submit"]{
    background-color: var(--Lime);
    padding: 0.6rem;
    border-radius: 10rem;
    font-size: 1rem;
    font-weight: 700;
    color: var(--Slate900);
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 0.5rem;
}
footer{
    display: none;
}
.contentInput{
    margin: 2rem 1.5rem;
    color: var(--Slate700);
}
.header{
    margin-bottom: 1rem;
}
.clear{
    font-size: 1rem;
    color:var(--Slate700);
    text-decoration: underline;
}
.input{
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: .25rem;
    border: 0.1rem solid var(--Slate500);
    display: grid;
    grid-template-columns: 1fr auto;
}
.input.first{
    grid-template-columns: auto 1fr;
}
.input > span{
    display: flex;
    font-weight: 700;
    align-items: center;
    justify-content: center;
    background-color: var(--Slate100);
    padding: 0 1rem;
    height: 100%;
}
.inputGroup > label{
    display: block;
    margin-bottom: 0.5rem;
}
.radioContent{
    padding: 0.5rem 1.5rem;
    margin-bottom: 0.5rem;
    border-radius: 0.25rem;
    border: solid 0.1rem var(--Slate500);
    display: flex;
    flex-direction: row;
    align-items: center;
}
.radioContent > label{
    font-weight: 700;
    margin-left: 1rem;
    width: 100%;
    color: var(--Slate900);
}
.radioContent:has(input[type="radio"]:checked){
    --limeAlpha: hsla(61, 70%, 52%, 0.25);
    background-color: var(--limeAlpha);
    border-color: var(--Lime);
}
.type > label{
    display: block;
    margin-bottom: .5rem;
}
.result{
    background-color: var(--Slate900);
    color: var(--White);
    padding: 2rem;
}
.preResult{
    text-align: center;
}
.contentResult{
    margin-bottom: 1rem;
}
.contentResult > p{
    color: var(--Slate300);
    line-height: 1.5rem;
}
.hidden{
    display: none;
}
.repayments{
    --fondo: hsl(201, 70%, 8%);
    padding: 1rem;
    margin-top: 2rem;
    border-radius: 0.25rem;
    color: var(--Slate300);
    background-color: var(--fondo);
    box-shadow: 0 -0.2rem 0 0 var(--Lime);
}
.monthly{
    border-bottom: solid .1rem var(--Slate900);
    margin-bottom: 1rem;
    padding-bottom: 1rem;
}
.monthly > .pay{
    color: var(--Lime);
    font-size: 2.5rem;
    font-weight: 700;
}
.total > .pay{
    color: var(--White);
    font-size: 1.5rem;
    margin-top: .5rem;
    font-weight: 700;
}
span.error{
    font-size: 0.8rem;
    color: var(--Red);
    display: block;
}
span.error.mt{
    margin-top: 0.5rem;
}
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

@media (width >= 768px) {
    body{
        background-color: var(--Slate100);
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    main{
        width: 700px;
        background-color: var(--White);
        margin: 2rem auto;
        border-radius: 1.5rem;
        overflow: hidden;
    }
    form{
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 1rem;
    }
    footer{
        display: initial;
    }
    .header{
        display: flex;
        justify-content: space-between;
        margin-bottom: 2rem;
    }
    .contentInput{
        margin: 2rem;
    }
    .inputGroup:first-child, .type{
        grid-column: 1 / 3;
    }
    .monthly {
        margin-bottom: 1.5rem;
        padding-bottom: 1.5rem;
    }
    .monthly > .pay {
        font-size: 4rem;
    }
    .repayments {
        padding: 1.5rem;
    }
}
@media (width >= 1024px) {
    main{
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 1fr;
        width: 950px;
        margin: auto;
    }
    form{
        grid-template-columns: 48% 48%;
    }
    input,
    button,
    .type > .radioContent,
    .type > .radioContent > label{
        cursor: pointer;
    }
    button[type="submit"]{
        grid-column: 1 / 3;
        width: 70%;
    }
    
    .result{
        border-radius: 0 0 0 4rem;
    }
    .inputYears{
        grid-template-columns: 62% auto;
    }
    .inputRate{
        grid-template-columns: 75% auto;
    }
}