@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
:root{
    /* ### Primary */
    -Lime: hsl(61, 70%, 52%);
    -Red: hsl(4, 69%, 50%);

    /* ### Neutral */
    -White: hsl(0, 0%, 100%);
    -Slate100: hsl(202, 86%, 94%);
    -Slate300: hsl(203, 41%, 72%);
    -Slate500: hsl(200, 26%, 54%);
    -Slate700: hsl(200, 24%, 40%);
    -Slate900: hsl(202, 55%, 16%);
}
*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}
html{
    font-size: 16px;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}
body{
    min-height: 100vh;
}
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }