@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap');
:root{
    --VeryDarkBlue: hsl(233, 47%, 7%); /*(main background)*/
    --DarkDesaturatedBlue: hsl(244, 38%, 16%); /*(card background)*/
    --SoftViolet: hsl(277, 64%, 61%); /*(accent)*/
    --White: hsl(0, 0%, 100%); /*(main heading, stats)*/
    --SlightlyTransparentWhite: hsla(0, 0%, 100%, 0.75); /*(main paragraph)*/
    --SlightlyTransparentWhite: hsla(0, 0%, 100%, 0.6); /*(stat headings)*/
}
*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}
body{
    font-size: 15px;
}
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }