@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;700&display=swap');
:root{
    --VeryDarkMagenta: hsl(300, 43%, 22%);
    --SoftPink: hsl(333, 80%, 67%);
    --DarkGrayishMagenta: hsl(303, 10%, 53%);
    --LightGrayishMagenta: hsl(300, 24%, 96%);
    --White: hsl(0, 0%, 100%);
}
*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}
body{
    font-family: 'League Spartan', sans-serif;
}
.attribution {
    font-size: 11px;
    text-align: center;
}
.attribution a {
    color: hsl(228, 45%, 44%);
}